
.client-name {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
  line-height: 1rem;
}


.case-page {
  margin: 3% 20% 3%;
}

.case-page>p {
  margin: 40px 0 40px 20%;
  font-size: 1.2rem;
  color: gray;
}

.case-page>ul {
  margin: 0 0 30px 30%;
  font-size: 1.2rem;
  color: gray;
}

.case-scroll-box {
  width: auto;
  height: 500px;
}

#case-benefis {
  width: 60vw;
  height: 33.6vw;
  border-radius: 3vh;
  background: url(Benefis/Benefis_1.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */

  margin: 50px auto;

  -webkit-animation: flipbenefis 24s ease infinite;
  -moz-animation: flipbenefis 24s ease infinite;
  -o-animation: flipbenefis 24s ease infinite;
  animation: flipbenefis 24s ease infinite;
}

/* @-webkit-keyframes
@-moz-keyframes
@-o-keyframes
@keyframes */

@-moz-keyframes flipbenefis {
  0% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  10% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  20% {background: url(Benefis/Benefis_2.png);background-size: cover;}
  30% {background: url(Benefis/Benefis_3.png);background-size: cover;}
  40% {background: url(Benefis/Benefis_4.png);background-size: cover;}
  50% {background: url(Benefis/Benefis_5.png);background-size: cover;}
  60% {background: url(Benefis/Benefis_6.png);background-size: cover;}
  70% {background: url(Benefis/Benefis_7.png);background-size: cover;}
  80% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  90% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  100% {background: url(Benefis/Benefis_8.png);background-size: cover;}
}

@-webkit-keyframes flipbenefis {
  0% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  10% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  20% {background: url(Benefis/Benefis_2.png);background-size: cover;}
  30% {background: url(Benefis/Benefis_3.png);background-size: cover;}
  40% {background: url(Benefis/Benefis_4.png);background-size: cover;}
  50% {background: url(Benefis/Benefis_5.png);background-size: cover;}
  60% {background: url(Benefis/Benefis_6.png);background-size: cover;}
  70% {background: url(Benefis/Benefis_7.png);background-size: cover;}
  80% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  90% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  100% {background: url(Benefis/Benefis_8.png);background-size: cover;}
}

@-o-keyframes flipbenefis {
  0% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  10% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  20% {background: url(Benefis/Benefis_2.png);background-size: cover;}
  30% {background: url(Benefis/Benefis_3.png);background-size: cover;}
  40% {background: url(Benefis/Benefis_4.png);background-size: cover;}
  50% {background: url(Benefis/Benefis_5.png);background-size: cover;}
  60% {background: url(Benefis/Benefis_6.png);background-size: cover;}
  70% {background: url(Benefis/Benefis_7.png);background-size: cover;}
  80% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  90% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  100% {background: url(Benefis/Benefis_8.png);background-size: cover;}
}

@keyframes flipbenefis {
  0% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  10% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  20% {background: url(Benefis/Benefis_2.png);background-size: cover;}
  30% {background: url(Benefis/Benefis_3.png);background-size: cover;}
  40% {background: url(Benefis/Benefis_4.png);background-size: cover;}
  50% {background: url(Benefis/Benefis_5.png);background-size: cover;}
  60% {background: url(Benefis/Benefis_6.png);background-size: cover;}
  70% {background: url(Benefis/Benefis_7.png);background-size: cover;}
  80% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  90% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  100% {background: url(Benefis/Benefis_8.png);background-size: cover;}
}

@keyframes flipNat {
  0% {background: url(Natrusolate/Natrusolate_6.png);background-size: cover;}
  25% {background: url(Natrusolate/Natrusolate_6.png);background-size: cover;}
  50% {background: url(Natrusolate/Natrusolate_7.png);background-size: cover;}
  75% {background: url(Natrusolate/Natrusolate_8.png);background-size: cover;}
  100% {background: url(Natrusolate/Natrusolate_9.png);background-size: cover;}
}

#case-natrusolate {
  width: 60vw;
  height: 33.6vw;
  border-radius: 3vh;
  background: url(Natrusolate/Natrusolate_6.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: flipNat;
  animation-duration: 10s;
  margin: 50px auto;
  animation-iteration-count: infinite;

}

@keyframes flipZoopCase {
  0% {background: url(zoop/Zoop_App1.png);background-size: cover;}
  33% {background: url(zoop/Zoop_App1.png);background-size: cover;}
  66% {background: url(zoop/Zoop_App2.png);background-size: cover;}
  100% {background: url(zoop/Zoop_App3.png);background-size: cover;}
}

#case-zoop {
  width: 20vw;
  height: 42vw;
  border-radius: 3vh;
  background: url(zoop/Zoop_App1.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: flipZoopCase;
  animation-duration: 8s;
  margin: 50px auto;
  animation-iteration-count: infinite;

}

@keyframes flipLinkedIn {
  0% {background: url(LinkedIn/Slide15.jpg);background-size: cover;}
  20% {background: url(LinkedIn/Slide15.jpg);background-size: cover;}
  40% {background: url(LinkedIn/Slide11.jpg);background-size: cover;}
  60% {background: url(LinkedIn/Slide12.jpg);background-size: cover;}
  80% {background: url(LinkedIn/Slide13.jpg);background-size: cover;}
  100% {background: url(LinkedIn/Slide14.jpg);background-size: cover;}

}

#case-linkedin {
  width: 60vw;
  height: 33.6vw;
  border-radius: 3vh;
  background: url(LinkedIn/Slide11.jpg);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: flipLinkedIn;
  animation-duration: 10s;
  margin: 50px auto;
  animation-iteration-count: infinite;

}

#video {
  width: 60vw;
  border-radius: 3vh;
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

#mobile {
  width: 20vw;
  border-radius: 3vh;
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  margin: 50px 40%;
}

.image {
  width: 60vw;
  margin: 10px auto;

}

#special-image {
  border-radius: 3vh;
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  z-index: 2;
}

.case-image {
  width: 60vw;
  margin: 50px auto;
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3vh;
}

h4 {
  color: gray;
  margin-bottom: 80px;
}

h5 {
  color: gray;
}

hr {
  width: 60vw;
  height: 10px;
}


#case-title {
  font-weight: bold;
  color: black;
  font-size: 3rem;
  align-items: left;
}


.nav-link, #artText, #subtitle {
  font-size: 1.2rem;
}

#contact-details {
  font-size: 1.2rem;

}

#subtitle {
  opacity: 0.3;
}

#brand-name {
  font-family: 'HelveticaNeue' sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.about-title {
  font-size: 2.5rem;
  align-items: stretch;
  text-align: left;
  color: white;
  margin: auto auto;
  width: 70%;
  position: absolute;
  left: 15vw;
  top: 40vh;
  text-shadow: -1px 1px black, 1px -1px black,-1px -1px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black;

}

.about-content {
  padding: 20px 30px 20px 0;
}

.about-quote {
  margin: 5vh auto;
}

.about-quote>h2 {
  font-weight: bold;
}

#quotation {
  color: gray;
}

.about-image>img {
  height: 45vw;
  width: auto;
  margin-bottom: 15px;
}

.about-content>p {
  font-size: 1.2rem;
  color: gray;
}

.mobile-about-image {
  display: none;
}

@media screen and (min-width: 1400px) {
  .about-title {
    font-size: 2.5vw;
  }

  .about-title>h1 {
    font-size: 3vw;
  }
}

#navbarNav {
  justify-content: flex-end;
}


.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0 10%;
  justify-content: space-between;
}

.quote {

  font-size: 1rem;
  margin-top: 0.2rem;
  color: gray;
  margin-bottom: 2.5rem;
}

.social-media {

  font-size: 1.5rem;
  opacity: 0.6;
  margin-bottom: 2.5rem;

}

.social-icon {
  text-align: right;
  color: gray;
  margin: auto 0px auto 10px;
}








.social-icon:hover {
  color: orange;
}




.main-title{
font-size: 2rem;
font-weight: normal;
align-items: center;
text-align: left;
color: white;
margin: auto auto;
width: 90%;
}

.about-title>a {
  color: black;
  line-height: 4rem;
}

.about-title>a:hover {
  color: gray;
  text-decoration: none;

}

#about-button {
  margin-top: 60px;
  font-size: 2rem;
  background-color: white;
  border-radius: 1rem;
  /* border: 5px solid black; */
  box-shadow: -1px 1px black, 1px -1px black, -1px -1px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black;
  padding: 0.5rem 1rem;
  text-shadow: none;
  text-decoration-color: gray;
}





#play, #work {
  background: transparent;
  text-align: center;
}

#play {
  height: auto;
}



.navbar {
  margin: 0% 10%;


}

.navbar-light  {
  color: transparent;
}

.bg-light {
  background-color: transparent!important;
}


.background-image {
  height: 80vh;
  width: 80vw;
  margin: auto 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.background-about {
  width: 80vw;
  margin: auto 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  font-size: 2rem;
  padding: 6px 0px 0px 0px;
  opacity: 1;
}
.navbar-toggler {
  border: none;
}

a.artwork {
  color: gray;
  font-weight: normal;
}

a.artwork:hover {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

a.artwork>img {
  color: white;
  display:none;
}

a.artwork>video {
  color: white;
  display:none;
}

a.artwork:hover>img {
  /* color: red; */
  display: flex;
  width: 30vw;
  height:auto;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: auto;
  z-index: -1;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transform: translate(0, -40%); */
}

a.artwork:hover>video {
  /* color: red; */
  display: flex;
  width: 30vw;
  height:auto;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: auto;
  z-index: -1;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transform: translate(0, -60%); */
}



#play-motion {
  width: 33vw;
  margin: 8% auto 0 5%;
}

#play-illustration {
  width: 33vw;
  margin: 5% auto 12% 5%;
}

a.case {
  color: gray;
}

a.case:hover {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

a.case>img {
  color: white;
  display:none;
}

a.case:hover>img {
  color: red;
  display: inline;
  height: 50vh;
  position: absolute;
  margin: auto;
  border-radius: 15px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
}

a.case>video {
  display:none;
}

a.case:hover>video {
  display: inline;
  height: 50vh;
  position: absolute;
  margin: auto;
  border-radius: 15px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);

}

.case-box{
  position: absolute;
  top: 45%;
  left: 60%;
  display: none;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: white;

  border-radius: 3vh;
}

@keyframes scroll {
  0% {background-position: top;}
  2.5% {background-position: top;}
  100% {background-position: bottom;}
}

@keyframes flipZoop {
  0% {background: url(zoop/Zoop_CaseFlip1.png);background-size: cover;}
  20% {background: url(zoop/Zoop_CaseFlip1.png);background-size: cover;}
  40% {background: url(zoop/Zoop_CaseFlip2.png);background-size: cover;}
  60% {background: url(zoop/Zoop_Case3.png);background-size: cover;}
  80% {background: url(zoop/Zoop_7.png);background-size: cover;}
  100% {background: url(zoop/Zoop_8.png);background-size: cover;}
}

#zoop>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(zoop/Zoop_CaseFlip1.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: flipZoop;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

@keyframes flipNatrusolate {
  0% {background: url(Natrusolate/Natrusolate_7.png);background-size: cover;}
  20% {background: url(Natrusolate/Natrusolate_7.png);background-size: cover;}
  40% {background: url(Natrusolate/Natrusolate_3.jpg);background-size: cover;}
  60% {background: url(Natrusolate/Natrusolate_4_1.png);background-size: cover;}
  80% {background: url(Natrusolate/Natrusolate_5_1.png);background-size: cover;}
  100% {background: url(Natrusolate/Natrusolate_13_1.png);background-size: cover;}

}

#natrusolate>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(Natrusolate/Natrusolate_7.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: flipNatrusolate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes flipbenefis {
  0% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  10% {background: url(Benefis/Benefis_1.png);background-size: cover;}
  20% {background: url(Benefis/Benefis_2.png);background-size: cover;}
  30% {background: url(Benefis/Benefis_3.png);background-size: cover;}
  40% {background: url(Benefis/Benefis_4.png);background-size: cover;}
  50% {background: url(Benefis/Benefis_5.png);background-size: cover;}
  60% {background: url(Benefis/Benefis_6.png);background-size: cover;}
  70% {background: url(Benefis/Benefis_7.png);background-size: cover;}
  80% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  90% {background: url(Benefis/Benefis_8.png);background-size: cover;}
  100% {background: url(Benefis/Benefis_8.png);background-size: cover;}
}

#benefis>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(Benefis/Benefis_1.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: flipbenefis;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes flipLinkedIn {
  0% {background: url(LinkedIn/Slide15.jpg);background-size: cover;}
  20% {background: url(LinkedIn/Slide15.jpg);background-size: cover;}
  40% {background: url(LinkedIn/Slide11.jpg);background-size: cover;}
  60% {background: url(LinkedIn/Slide12.jpg);background-size: cover;}
  80% {background: url(LinkedIn/Slide13.jpg);background-size: cover;}
  100% {background: url(LinkedIn/Slide14.jpg);background-size: cover;}
}

#linkedin>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(LinkedIn/Slide19.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: flipLinkedIn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


#dreamspring>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(DreamSpring_1.jpg);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: scroll;
  animation-duration: 12s;
}

#andropique>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(Andropique_1.jpg);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: scroll;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

#cgf>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(CGF_1.jpg);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: scroll;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

#makespace>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(Makespace_1.jpg);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: scroll;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

#gnc>.box {
  width: 50vw;
  height: 28vw;
  border-radius: 3vh;
  background: url(GNC_1.jpg);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#tlycs>.box {
  width: 50vw;
  height: 30vw;
  border-radius: 3vh;
  background: url(TLYCS/TLYCS_Preview.png);
  background-size: cover;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */

}

#tresemme>.box {
  width: 50vw;
  height: 30vw;
  background-color: white;
  /* background-position: top; */
  /* transition: 12s; */
  /* background-position: bottom; */
}

#blackberry>.box {
  width: 50vw;
  height: 28.5vw;
  background-color: white;
  /* background-position: top; */
  /* transition: 12s; */
  /* background-position: bottom; */
}

#tresVideo {
  width: 47vw;
  height: auto;
  border-radius: 3vh;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
}

#bbVideo {
  width: 50vw;
  height: auto;
  border-radius: 3vh;
  /* background-position: top; */
  border: 5px solid black;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  /* transition: 12s; */
  /* background-position: bottom; */
}




/* .box:hover {
  background-position: bottom;
} */

a:hover>.case-box {
  display: flex;
}

#client {
  grid-area: client;

  padding: 10px;
}


#scope {
  grid-area: scope;

  padding: 10px;
}

#description {
  grid-area: description;

  padding: 10px;
}

.case-content {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: 'client description''scope description';
  margin: 20px 20px 10px 20px;
  color: gray;
  font-size: 1rem;
  font-weight: normal;
  justify-content: space-between;
}

.moreWork {
  font-size: 1.5rem;
  color: gray;
}

.moreWork:hover {
  color: black;
}

.case-moreWork {
  margin: 10vh;
}

.case-moreWork>a:hover {
  text-decoration: none;
}
















/* Mobile Media Queries */

@media screen and (max-width: 768px) {

  /* HomePage */
  .navbar {
    margin: 0%!important;
  }

  #brand-name {
    font-size: 2rem;
    margin-left: 5%;
  }

  /* @-webkit-keyframes
  @-moz-keyframes
  @-o-keyframes
  @keyframes */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

  #sketch-div {
    width: 100%!important;
    background: linear-gradient(270deg, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    margin: 0;
  }

  canvas {
    display: none;
  }

  .background-image {
    height: 75vh!important;
    margin: auto 0!important;
    width: 100%;
  }

  .about-title {
    font-size: 2.5rem;
    position: inherit;
  }

  .nav-link {
    font-size: 1.5rem;
    text-align: right;
    margin-right: 20px;
  }

  .navbar-light .navbar-toggler-icon {
    font-size: 2.5rem!important;
    padding-top: 10px!important;
  }

  #subtitle, #artText {
    display: none;
  }

  #contact-details {
    display: inherit!important;
  }

  .flex-container {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .social-media {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }

  .quote {
    width: 100%
  }

  /* About Page */

  .about-image {
    display: none;
  }

  .about-content {
    padding: 20px 0;
  }

  .background-about {
    margin: auto 10%;
  }


  /* Work Page */

  #work {
    margin: 20% 0!important;
    height: auto!important;
  }

  .main-title {
    font-size: 2rem;
    margin: auto 0!important;
    width: 80%;
    align-items: center;
  }

  a:hover>.case-box {
    display: block;
}

  /* Case Page */


  .case-page {
    margin: 5% 8% 5%!important;
  }

  hr {
    width: 100%;
  }

  .case-page>p {
    margin: 30px 0 30px 0;
  }

  .case-image, #special-image {
    width: 100%;
    border-radius: 2vh;
  }

  .case-moreWork {
    width: 100%!important;
    margin: 50px 0!important;
  }

  #case-benefis, #case-linkedin, #case-natrusolate {
    width: 100%;
    height: 48vw;
    border-radius: 2vh;
  }

  #video {
    width: 100%;
    border-radius: 2vh;
  }

  .image {
    width: 100%;
  }

  #mobile {
    width: 60%;
    margin: 10% 20%;
  }

  #case-zoop {
    width: 70%;
    height: 119vw;
    border-radius: 2vh;
  }

  #play {
    height: auto!important;
  }

  #play-motion {
    margin: 20% 5%!important;
    width: 80%!important;
    height: auto!important;
  }


  #play-illustration {
    margin: 0 5% 20%!important;
    width: 80%!important;
    height: auto!important;
  }

  a.artwork>img, a.artwork:hover>img {
    color: white;
    display: block;
    position: static;
    width: 100%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }

  a.artwork>video, a.artwork:hover>video {
    color: white;
    display: block;
    position: static;
    width: 100%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }



  a.artwork {
    color: #d3d3d3;
  }

  .case-box, .case-box:hover {
    width: 100%;
    display: block;
    position: relative;
    top: 0rem;
    left: 0;
    transform: none;
    margin: 0;
  }

  .case-content {
    display: none;
  }

  #zoop>.box, #natrusolate>.box, #linkedin>.box, #tresemme>.box, #blackberry>.box, #benefis>.box, #dreamspring>.box, #andropique>.box, #cgf>.box, #makespace>.box, #gnc>.box {
    width: 100%;
    height: 46vw;
    border-radius: 2vh;
    animation: none;
  }

  #linkedin>.box{
    background-image: url(mobile/Slide15.jpg);
  }

  #dreamspring>.box{
    background-image: url(mobile/DreamSpring_1.jpg);
  }

  #cgf>.box{
    background-image: url(mobile/CGF_1.jpg);
  }

  #andropique>.box{
    background-image: url(mobile/Andropique_1.jpg);

  }

  #gnc>.box{
    background-image: url(mobile/GNC_1.jpg);
  }

  #makespace>.box{
    background-image: url(mobile/Makespace_1.jpg);

  }

  #blackberry>.box{
    background-image: url(mobile/Blackberry_Mobile.png);
    background-size: cover;
    border: 5px solid black;
  }

  #tresemme>.box{
    background-image: url(mobile/Tresemme_Mobile.png);
    background-size: cover;
    border: 5px solid black;
  }





  #tlycs>.box {
    width: 100%;
    height: 48vw;
    border-radius: 2vh;
  }

  #tresVideo, #bbVideo {
    display: none;
  }













  /* #mobile {
    width: 20vw;
    border-radius: 3vh;
    border: 5px solid black;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    margin: 50px 40%;
  }

  .image {
    width: 60vw;
    margin: 10px auto;

  }

  #special-image {
    border-radius: 3vh;
    border: 5px solid black;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    z-index: 2;
  } */





















}
